body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  width: 100%;
  max-width: 800px;
  padding: 20px;
  box-sizing: border-box;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header {
  background: #333;
  color: #fff;
  padding: 10px 0;
  border-bottom: #bbb 1px solid;
  margin-bottom: 20px;
  text-align: center;
}

header h1 {
  margin: 0;
}

.input {
  padding: 10px;
  margin: 0 10px 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: calc(100% - 22px); /* Adjust for padding and border */
}

.button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  margin: 5px;
  text-align: center;
}

.button:hover {
  background-color: #0056b3;
}

.task-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.task-card {
  background: #fff;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
